<html>
    <head>
        <title>Authenticating...</title>
        <script>
            const userInfo = {{ .userInfo }};
            const tenantUid = {{ .tenantUid }};
            const pemModulesActionsMap = {{ .pemModulesActionsMap }};
            localStorage.setItem('userInfo', userInfo);
            localStorage.setItem('tenantUid', tenantUid);
            localStorage.setItem('pemModulesActionsMap', pemModulesActionsMap);

            const nextUrl = localStorage.getItem('nextUrl');
            if (nextUrl) {
                localStorage.removeItem('nextUrl');
                window.location.href = nextUrl;
            } else {
                window.location.href = '/';
            }
        </script>
    </head>

    <body>
        <p>Authenticating...</p>
    </body>
</html>
